// colors
$blue: #0579F7;
$basic-black: #000000;
$basic-white: #FFFFFF;
$background-intro: #252230;
$gray: #E5E5E5;
$yellow-color: #F8B407;
$red-color:#FF3B30;
$green-color: #4CD964;

// viewports
$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 1001px;
